html {
    background: linear-gradient(194deg, #F2FAFA 0%, #E2ECEC 56%, #A5D3D3 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

body {
    font-family: Akshar, sans-serif;
    color: #205959;
}

#main-header {
    height: 100px;
    text-align: center;
}

a {
    color: #205959;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

a:visited {
    color: #205959;

}

.link {
    padding: 1em;
    font-weight: bold;
}

.container {
    display: inline-block;
    box-sizing: border-box;
    width: 800px;
    padding: 1em;
    text-align: justify;
}

#home-photo {
    padding: 2em;
    box-sizing: border-box;
    border-radius: 50%;
}

.projects {
    margin-left: 100px;
    margin-right: 75px;
}

.project {
    padding: 1em;
}

.project-text {
    text-align: justify;
    width: 700px;
}

.project-link {
    font-weight: bold;
    padding-right: 1em;
}

#sis {
    color: #205959;
    text-decoration: none;
    opacity: 100%;
}

.fa {
    color: #205959;
    text-decoration: none;
    max-width: max-content;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}