/* General */

body {
  background: linear-gradient(194deg, #F2FAFA 0%, #E2ECEC 56%, #A5D3D3 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: 'Akshar', sans-serif;
  color: #205959;
}

h1 {
  margin: 1em;
  text-align: center;
  font-weight: bold;
}

a {
  color: #205959;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #205959;
  text-decoration: underline;
  opacity: 0.7;
}

a:visited {
  color: #205959;
}

.fa {
  color: #205959;
  text-decoration: none;
  max-width: max-content;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

p {
  text-align: justify;
}

#profile-img {
  border-radius: 50%;
}

#sis {
  color: #205959;
  text-decoration: none;
  opacity: 100%;
  font-weight: 300;
}


/* Navbar */

.navbar-brand {
  color: #205959;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #205959;
  opacity: 0.7;
}

.navbar-collapse {
  justify-content: center;
}

.nav-link {
  color: #205959;
  font-weight: bold;
}

.nav-link:hover {
  color: #205959;
  text-decoration: underline;
  opacity: 0.7;
}
